.movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card{
    width: 450px;
    justify-content: space-between;
}

.card-title{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-horizontal{
    width: 100%;
    transition: 1s all;
}

.card-hide{
    display: none;
}

.data-slice {
    margin: 0px auto 30px auto!important;
}

.card-footer{
    display: flex;
    justify-content: space-evenly;
}

.card-img-top{
    height: 300px;
}

.fa-trash-alt:hover{
    cursor: pointer;
    color: red;
}

.fa-star:hover{
    cursor: pointer;
    color: purple;
}

.active-star{
    color: purple!important;
}

.spinner-container {
    width: 500px;
    margin: 40px auto;
    font-size: 50px;
}